$color-white-fff: #ffffff;
$color-black-000: #000000;
$color-blue-005: #0056ff;
$color-gray-232: #23282d;
$color-gray-425: #425863;
$color-gray-555: #555d66;
$color-light-gray-e2e: #e2e4e7;
$color-light-gray-f3f: #f3f4f5;
$color-light-gray-dcd: #dcdedf;
